{% extends 'seguimientolite_hyundai_mx/base.html' %}
{% block content %}
{% load static %}
<div class="container-fluid mx-auto">
  <div class="row mb-3">
    <div class="col-md-5">
      <div class="input-group mb-3 shadow">
        <div class="input-group-prepend">
          <span class="input-group-text">Buscar:</span>
        </div>
        <input type="text" onkeyup="buscador()" placeholder="Buscar por Orden o por VIN" id="buscadorAsesor"
          class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
      </div>
    </div>
  </div>
  <div class="card mb-3 mx-auto shadow">
    <h5 class="card-header">
      Listado de Ordenes
    </h5>
    <table id="tablaOrdenes" class="table table-sm table-hover mx-auto mt-0">
      <thead class="thead-dark text-center">
        <tr>
          <th scope="col" class="all">Placas</th>
          <th scope="col" class="all">Orden</th>
          <th scope="col" class="desktop">VIN</th>
          <th scope="col" class="all">Vehículo</th>
          <th scope="col" class="desktop">Asesor</th>
          <th scope="col" class="desktop">Tecnico</th>
          <th scope="col" class="desktop">Fecha Ingreso</th>
          <th scope="col" class="desktop">Fecha Elaboración Tecnica</th>
          <th scope="col" class="desktop">Ultima Modificación</th>
          <th scope="col" class="desktop">Estado</th>
        </tr>
      </thead>
      <tbody>
        {% for fila in filas %}
        <tr>
          <td>
            {% if titulo == "Mano de obra" %}
            <a role="button" href="{% url 'mano_de_obra_detalle' fila.no_orden %}"
              class="btn btn-link">{{fila.placas}}</a>
            {% else %}
            <a role="button" href="{% url 'refacciones_detalle' fila.no_orden %}"
              class="btn btn-link">{{fila.placas}}</a>
            {% endif %}
          </td>
          <td>{{fila.no_orden}}</td>
          <td>{{fila.vin}}</td>
          <td>{{fila.vehiculo}}</td>
          <td>{{fila.asesor}}</td>
          <td>{{fila.tecnico}}</td>
          <td>{{fila.fecha_ingreso}}</td>
          <td>{{fila.fin_tecnico}}</td>
          <td>{{fila.modificacion}}</td>
          <td>
            <div class="text-center">
              <span class="badge badge-pill badge-warning text-white">Recomendados: {{fila.recomendados}}</span>
            </div>
            <div class="text-center">
              <span class="badge badge-pill badge-danger">Inmediatos: {{fila.inmediatos}}</span>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>


  <script>
    function buscador() {
      var input, filter, table, tr, td, i, txtValue, td1, txtValue2;
      input = document.getElementById("buscadorAsesor");
      filter = input.value.toUpperCase();
      table = document.getElementById("tablaOrdenes");
      tr = table.getElementsByTagName("tr");
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[1];
        td1 = tr[i].getElementsByTagName("td")[2];
        if (td || td1) {
          txtValue = td.textContent || td.innerText;
          txtValue2 = td1.textContent || td1.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1 || txtValue2.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }
    }
    $('#tablaOrdenes').DataTable({
      "paging": false,
      "order": [[0, "desc"]],
      "responsive": true,
      "searching": false,
      "lengthChange": false,
      "info": false,
    });
  </script>
  {% endblock %}
